language: php

php:
    - 5.6
    - hhvm
env:
    - DB=mysql

before_script:
    - if [[ "$DB" == "mysql" ]]; then mysql -e "create database IF NOT EXISTS hris;" -uroot; fi
    - composer install --dev --prefer-source --no-interaction
    - php artisan migrate --env=testing
    - php artisan db:seed --env=testing

script: vendor/bin/codecept run
