.hris-side-loader {
  background: transparent url('../images/profile/default/0.png') center no-repeat;
  background-size: 48px 48px;
}

.hris-action-loader {
  background: transparent url('../images/profile/default/0.png') center no-repeat;
  background-size: 79px 79px;
}
