.dz {
  position: relative;
  .dz-preview {
    position: relative;
    display: inline-block;
    width: 120px;
    margin: 0.5em;

    .dz-details {
      display: none;
    }

    .dz-progress {
      display: block;
      margin-top: 3px;
      height: 15px;
      border: 1px solid #dedede;
      background: #efefef;

      .dz-upload {
        display: block;
        height: 100%;
        width: 0;
        background: green;
      }
    }

    .dz-error-message {
      color: red;
      display: none;
    }

    &.dz-error .dz-error-message, &.dz-error .dz-error-mark {
      display: block;
    }
    &.dz-success .dz-success-mark {
      display: block;
    }
    .dz-error-mark, .dz-success-mark {
      position: absolute;
      display: none;
      left: 30px;
      top: 30px;
      width: 54px;
      height: 58px;
      left: 50%;
      margin-left: -27px;
    }
  }
}
