/*custom CSS*/
.input-full-width 
	width: 100%

.img-circle 
	height: 48px
	width: 48px

.top-nav-b 
	text-align: center

.top-nav-c
  margin: 0 auto 18px

.top-nav-c .btn-primary a 
	color: #fff

.top-nav-c button a 
	color: #676a6c

.top-nav-c a 
	margin: 0
	padding: 0
	float: left
	border-radius: none

.top-nav-c a button 
	border-radius: 0 !important

.top-nav-c button 
	padding: 0 !important

.top-nav-c button a 
	padding: 6px 12px

.m-right-a 
	margin-right: 6px

.grad-red 
	background: url(../img/bgblur_03.jpg)

.greenpro-bg 
	background: url(../img/bgblur_profile-bg.jpg)

.grad-red .col-sm-6 h2, .grad-red .col-sm-6 ol, .greenpro-bg .col-sm-6 h2, .greenpro-bg .col-sm-6 ol  
	color: #fff

.breadcrumb 
	background-color: inherit

.grad-red .col-sm-6 .breadcrumb>li+li:before, .greenpro-bg .col-sm-6 .breadcrumb>li+li:before 
	color: #FFF

.grad-red .col-sm-6 .profile-img .profile-details, .greenpro-bg .col-sm-6 .profile-img .profile-details 
	color: #fff

/*Personal details Custom CSS*/

.profile-img 
	display: block
	margin-top: 8px
	margin-bottom: -30px
	float: right
	margin-right: 21px

.profile-img img 
	float: right
	height: 79px
	width: 79px

.profile-details 
	float: right
	text-align: right
	margin-right: 14px
	margin-top: 10px

.profile-details h2, .profile-details h2  
	padding: 0
	margin: 0

.profile-details h2 
	font-size: 17px
	font-weight: bold

.profile-details h3 
	font-size: 14px
	font-weight: normal
	margin: 7px 0 0
	padding: 0

.profile-details button 
	margin-top: 6px

.change-pic 
	color: #fff
	text-decoration: none

#cus-input 
	width: 361px
	margin: 0 auto
	padding: 10px 0

/*Crop-Box-CSS*/
.imageBox
	position: relative
	height: 400px
	width: 400px
	border: 1px solid #aaa
  overflow: hidden
  background: #fff no-repeat
  cursor: move
	margin: 0 auto

.imageBox .thumbBox
	position: absolute
	top: 50%
	left: 50%
	width: 200px
	height: 200px
	margin-top: -100px
	margin-left: -100px
	box-sizing: border-box
	border: 1px solid rgb(102, 102, 102)
	box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.5)
	background: none repeat scroll 0% 0% transparent

.imageBox .spinner
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	text-align: center
	line-height: 400px
	background: rgba(0,0,0,0.7)

/*//Cropbox*/

.datepicker 
	z-index: 9999 !important

.pull-centered 
	text-align: center
	padding-bottom: 15px

.top-nav-li ul 
	list-style: none
	text-align: center
	padding: 0
	-webkit-border-radius: 3px
	-moz-border-radius: 3px
	border-radius: 3px
	background: #fff
	display: inline-block
	z-index: 10
	overflow: hidden

.top-nav-li ul li 
    display: table-cell
    padding: 0
    margin: 0
    border-right: 1px solid #EAEAEA
    border-top: 1px solid #EAEAEA
    border-bottom: 1px solid #EAEAEA

.top-nav-li ul li:hover 
    border-top: 1px solid #DFDFDF
    border-bottom: 1px solid #DFDFDF
    border-right: 1px solid #DFDFDF
    overflow: hidden
    z-index: 9

.top-nav-li ul li:active 
    background: #18a689

.top-nav-li ul li:last-child 
    border-right: none

.top-nav-li ul li a 
    color: #676a6c
    padding: 6px 8px
    display: inline-block
    z-index: 9999

.top-nav-li ul li a:hover 
    border: 1px solid #EAEAEA

.top-nav-li ul li a:active 
        color: #fff

.top-nav-li ul li a:last-child 
    border: none

.top-nav-li .active 
	color: #fff
	background: #18a689

.top-nav-li .active a
  color: #fff !important

tbody.thin-table td
  padding: 3px 0 !important
  font-weight: bold
  text-align: center

th.no-pdng
  padding: 5px 0 !important
  text-align: center

button.sve-btn
  float: right
  width: auto

td.indent
  text-indent: 20px
  font-weight: normal !important

td.indent-double
  text-indent: 40px
  font-weight: normal !important

td.ta-left
  text-align: left !important
  font-weight: normal !important

th.ta-left
  text-align: left !important

th.fix-width
  width: 10%

.no-marg-left
  margin-left: 0 !important
  margin-right: 0 !important

.coupon_question 
  margin-top: 10px !important

.hidden-content
  display: none

.advance-p 
  clear: both

.control-label 
	padding-top: 7px
	margin-bottom: 0
	text-align: right

.btn-cs 
	clear: both 
	display: flex

.ad-p-btn 
	clear: both

#addAvatar
  cursor: pointer