<div class="col-sm-6" v-if="employee">
    <div class="profile-img">

        <img id="profile-image" alt="avatar" v-bind:src="employee.avatar"/>
        <div class="profile-details">

            <h2>{{employee.first_name}} {{employee.last_name}}</h2>
            <h3 v-if="job_titles">{{job_titles[employee.job_history.data.job_title_id]}}</h3>

            <h4 class="avatar" style="display: none;">
                <span id="add_avatar" class="label label-primary">Edit Avatar</span>
            </h4>
            <h4 v-if="employment_statuses" class="job-title">
                <span v-if="employment_statuses[employee.job_history.data.employment_status_id-1]"
                      class="label {{employment_statuses[employee.job_history.data.employment_status_id-1].class}}">{{employment_statuses[employee.job_history.data.employment_status_id-1].name}}
                </span>
            </h4>
        </div>
    </div>
</div>
