<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Employee List</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="ibox-content">
                <div class="">
                    <a id="add_employee" href="javascript:void(0);" class="btn btn-primary btn-xs">Add a new row</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><a href="/pim/employee-list?page=1&amp;sort=employees.id&amp;direction=asc">Id  <span class="asc "></span> </a></th>
                            <th><a href="/pim/employee-list?page=1&amp;sort=employees.first_name&amp;direction=asc">First Name  <span class="asc "></span> </a></th>
                            <th><a href="/pim/employee-list?page=1&amp;sort=employees.last_name&amp;direction=asc">Last Name  <span class="asc "></span> </a></th>
                            <th><a href="/pim/employee-list?page=1&amp;sort=job_titles.name&amp;direction=asc">Job Title  <span class="asc "></span> </a></th>
                            <th><a href="/pim/employee-list?page=1&amp;sort=employment_statuses.name&amp;direction=asc">Status  <span class="asc "></span> </a></th>
                            <th class="fix-width">Action</th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr v-for="item in employees" id="employee_1">
                            <td><a v-link="{ name: 'pim-employee-list-personal-details', params: {employee_id: item.employee_id} }">{{item.employee_id}}</a></td>
                            <td>{{item.first_name}}</td>
                            <td>{{item.last_name}}</td>
                            <td>{{item.job}}</td>
                            <td>
                                <span class="label {{item.class}}">{{item.status}}</span>
                            </td>
                            <td>
                                <a href="/pim/employee-list/HRis-0001/personal-details"><button rel="edit" class="btn btn-primary btn-xs btn-warning" data-toggle="tooltip" data-placement="bottom" title="" type="button" data-original-title="Edit"><i class="fa fa-edit"></i></button></a>
                                <button rel="delete" class="btn btn-primary btn-xs btn-danger" data-toggle="tooltip" data-placement="bottom" title="" type="button" data-original-title="Delete"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div>Displaying 5 of 5</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="dataTables_paginate">
                            <ul class="pagination">
                                <li class="paginate_button  disabled ">
                                    <a href="/pim/employee-list/?page=1&amp;sort=id&amp;direction=asc"> Previous </a>
                                </li>
                                <li class="paginate_button  active ">
                                    <a href="/pim/employee-list/?page=1&amp;sort=id&amp;direction=asc">1</a>
                                </li>
                                <li class="paginate_button  disabled ">
                                    <a href="&amp;sort=id&amp;direction=asc"> Next </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
